*{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
}
 #box {
    background-color: blue;
}
.heading
{ color: red;}
button{
    background-color: black;
}
#center{ 
    text-align: center;
    text-transform: capitalize;
}
#set{
    font-family: 'Times New Roman', Times, serif;
   }
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}
